body{
    margin: 0;
    top: 0;
    height: 1080px;
}

/*--- Liens -------------------------------------------------------*/
a{
    text-decoration: none;
}

/*--- Banière ------------------------------------------------------*/
.baniere{
    display: flex;
    position: relative;
}
#avatarPL{
    position: absolute;
    margin-top: 0px;
    margin-left: 0px;
}
#title1{
    position: absolute;
    font-size: 80px;
    margin-left: 245px;
    margin-top: 22px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-shadow: 5px 5px 10px #ffffff;
}
#title2{
    position: absolute;
    font-size: 80px;
    margin-left: 245px;
    margin-top: 122px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #ffffff;
}

/*--- Barre de nagigation ---------------------------------------------*/
.navBar{
    position: fixed;
    flex-direction: column;
    z-index: 99;
    width:80px;
    height: 450px;
    margin-left: 45px;
    margin-top: 200px;
    background-color:#2b19fb;
    text-align: center;
    justify-content: space-around;
}
.iconNav{
    margin-top: 6px;
}

/*--- HOME -------------------------------------------------------------*/
.imgAppMobile{
    text-align: center;
}

/*--- ABOUT ------------------------------------------------------------*/
.titlePage{
    text-align: center;
    font-size: 72px;
    margin-top: 20px;
}
#avatarProfil{
    position: absolute;
    margin-left: 125px;
    margin-top: 120px;
}
#bubble{
    position: absolute;
    margin-left: 460px;
    margin-top: 55px;
}
#quelquesMots{
    position: absolute;
    margin-left: 100px;
    font-size: 48px;
    top: 5px;
}
.blocTexte{
    width: 800px;
    height: 345px;
    margin-left: 965px;
    margin-top: 110px;
    font-size: 24px;
}
#caddy{
    display: flex;
    margin-left: 1050px;
}
/*--- Effet Pulse PC ---------------*/
#pc{
    animation-name: pulse2;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
@keyframes pulse2{
    0%   {width: 200px; height:200px}
    100% {width: 230px; height: 230px;} 
}


/*--- RESUME---------------------------------------------------------   */
.resume{
    display:flex;
    justify-content: space-evenly;
    margin-left: 250px;
}

/*--- Bloc FORMATION ---------------*/
.carrefour{
    box-sizing: content-box;  
    width:500px;
    height:120px;
    background-color: #d9d9d9;
    border-radius: 30px;
}
#logoCRF{
margin-left: 20px;
margin-top: 10px;
}
.carrefour p{
    text-align: left;
    font-size: 20px;
    margin-left:180px;
    margin-top: -100px;
}
.casino{
    box-sizing: content-box;  
    width:500px;
    height:120px;
    background-color: #d9d9d9;
    border-radius: 30px;
}
#logoCAS{
margin-left: 20px;
margin-top: 10px;
}
.casino p{
    text-align: left;
    font-size: 20px;
    margin-left:180px;
    margin-top: -100px;
}
.alinea{
    box-sizing: content-box;  
    width:500px;
    height:120px;
    background-color: #d9d9d9;
    border-radius: 30px;
}
#logoAlinea{
margin-left: 20px;
margin-top: 30px;
}
.alinea p{
    text-align: left;
    font-size: 20px;
    margin-left:180px;
    margin-top: -50px;
}
.estienne{
    box-sizing: content-box;  
    width:500px;
    height:120px;
    background-color: #d9d9d9;
    border-radius: 30px;
}
#logoEST{
margin-left: 20px;
margin-top: 20px;
}
.estienne p{
    text-align: left;
    font-size: 20px;
    margin-left:180px;
    margin-top: -60px;
}
/*--- Btn C.V. ---------------*/
.btnCV{
    display: flex;
    position: absolute;
    width: 170px;
    height: 50px;
    background-color: #2b19fb;
    border-radius: 30px;
    font-weight: bold;
    margin-top: 40px;
    margin-left: -120px;
}
.btnCV p{
    color: #ffffff;
    margin-left: 15px;
    margin-top: 5px;
}

/*--- Bloc EXPERIENCE ------------*/
.carrefourEXP{
    box-sizing: content-box;  
    width:800px;
    height:120px;
    background-color: #d9d9d9;
    border-radius: 30px;
}
#logoCRF{
margin-left: 20px;
margin-top: 10px;
}
.carrefourEXP p{
    text-align: left;
    font-size: 20px;
    margin-left:180px;
    margin-top: -100px;
}
.casinoEXP{
    box-sizing: content-box;  
    width:800px;
    height:120px;
    background-color: #d9d9d9;
    border-radius: 30px;
}
#logoCAS{
margin-left: 20px;
margin-top: 10px;
}
.casinoEXP p{
    text-align: left;
    font-size: 20px;
    margin-left:180px;
    margin-top: -100px;
}
.alineaEXP{
    box-sizing: content-box;  
    width:800px;
    height:120px;
    background-color: #d9d9d9;
    border-radius: 30px;
}
#logoAlinea{
margin-left: 20px;
margin-top: 30px;
}
.alineaEXP p{
    text-align: left;
    font-size: 20px;
    margin-left:180px;
    margin-top: -50px;
}
.photographe{
    box-sizing: content-box;  
    width:800px;
    height:120px;
    background-color: #d9d9d9;
    border-radius: 30px;
}
#logoPhoto{
margin-left: 50px;
margin-top: 20px;
}
.photographe p{
    text-align: left;
    font-size: 20px;
    margin-left:180px;
    margin-top: -90px;
}
/*--- SKILLS -----------------------------------------------------------*/
.softDEV{
    display:flex;
}
.softwareTools{
    display: bloc;
    justify-content: center;
    width:600px;
    height: 600px;
    margin-left: 200px;
    margin-top: -60px;
}
#software{
    text-align: center;
    font-size: 48px;
}
.microsoft{
    width: 100%;
    left: 300px;
    top:500px;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}
.adobe{
    left: 315px;
    top:620px;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}
.tools{
    left: 315px;
    top:750px;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}
#icones{
    padding:5px;
}
.development{
    display: bloc;
    justify-content: center;
    width:600px;
    height: 600px;
    margin-left: 200px;
    margin-top: -60px;
}
#dev{
    text-align: center;
    font-size: 48px;
}
.frontEnd{
    width: 100%;
    left: 300px;
    top:500px;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}
.backEnd{
    left: 315px;
    top:620px;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}
.gitHub{
    left: 315px;
    top:750px;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}

/*--- PORTFOLIO -------------------------------------------------------*/
.rowGallery{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-left: 250px;
    margin-top: 150px;
    background-color:#c5c5c5;
    width:1500px;
    height: 350px;
}
.columnGallery{
    display: flex;
    background-color:#555555;
    height: 300px;
}
.contentGallery{
    width:250px;
    align-content: space-evenly;
    margin-top: 20px;
    margin-left:5px;
    text-align: center;
    color: #ffffff;
    font-size: 24px;
}
#btnPlus{
    margin-top: -10px;
}

/*--- CONTACT ---------------------------------------------------------*/
#appel{
    position: absolute;
    margin-left: 80px;
    font-size: 48px;
    top: 5px;
}
.contact{
    width:800px;
    height: 100px;
    margin-left: 1000px;
}
.phone{  
    height: 100px; 
    top: 410px;
    font-size: 48px;
}
.phone p{
    margin-left: 100px;
    margin-top:-70px;
}
.mail{
    height: 100px;
    top: 800px;
    font-size: 48px;
}
.mail p{
    margin-left: 100px;
    margin-top:-70px;
}
.socialMedia{
    width: 385px;
    height: 150px;
    background-color: #2b19fb;
    border-radius: 30px;
    left: 1090px;
    top:750px;
}
.socialMedia p{
    text-align: center;
    color: #ffffff;
    font-size: 36px;
    font-weight: bold;
}
#iconSocialMedia{
    display: flex;
    justify-content: center;
}
#linktree{
    color: black;
    text-align: center;
}
